html {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 320px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 1rem;
  border: 1rem;
  font: normal 100%/1.5 "Crimson Text";
  font-size: 1rem;
}

* {

  box-sizing: inherit;
  color: #222;
}

article h1 {
  font-family: "crimson Text";
  font-size: 1.5rem;
  font-style: normal;
  color: #222;
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1px;
}

article header {
  line-height: 1.3rem;
  border-bottom: solid 2px;
  border-color: #555;
}

article {
  border-bottom: solid 2px;
  border-color: #555;
}

article p {
  margin-top: 1.3rem;
  line-height: 1.3rem;
}

article header p {
  margin-top: 1.5px;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: normal;
  color: #555;
}

article ol {
  line-height: 1.3rem;
  padding-left: 1rem;
}

blockquote {
  margin-bottom: 1.3rem;
  line-height: 1.3rem;
}

blockquote > p {
  color: #555;
  font-size: 1em;
  margin-bottom: 1.5rem;
}

article p:nth-child(5) {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.quote {
  line-height: 1.3rem;
  color: #999;
}
